<div class="container" fxLayout="row" fxFill>
<div fxFlex="10" fxFill style="background-color:red">Col-1</div>
<div fxFlex="90" fxFill fxLayout="column" style="background-color:green">

    <div fxFlex="33"  style="background-color:yellow">Col-2 Fila-1</div>
    <div fxFlex="67" fxLayout="row" style="background-color:lightsalmon">
            <!-- Usando CSS Flex-->
            <div fxFlex="40%" class="row_cssflex_col" style="background-color:green">
                <div class="row_cssflex">
                    <mat-form-field><input matInput type="text" placeholder="Nombre" name="direccion"/></mat-form-field>
                    <mat-form-field><input matInput type="text" placeholder="Apellidos" name="direccion"/></mat-form-field>
                </div>
                <div class="row_cssflex_col">
                    <mat-form-field><input matInput type="text" placeholder="Nombre" name="nombre"/></mat-form-field>
                    <mat-form-field><input matInput type="text" placeholder="Apellidos" name="apellidos"/></mat-form-field>
                </div>
                <div class="row_cssflex">
                    <div><button mat-flat-button>Boton1</button></div>
                    <div><button mat-flat-button>Boton2</button></div>
                </div>  
            </div>

            <!-- Usando Flex Layout-->
            <div fxFlex="40%" fxLayout="column"  fxLayoutAlign="start center" style="background-color:red">
                <!--<mat-form-field style="width:90%"><input matInput type="text" placeholder="Nombre" name="direccion"/></mat-form-field>
                <mat-form-field style="width:90%"><input matInput type="text" placeholder="Apellidos" name="direccion"/></mat-form-field>-->
                <div class="row_grid">
                    <mat-form-field><input matInput type="text" placeholder="Nombre" name="nombre"/></mat-form-field>
                    <mat-form-field><input matInput type="text" placeholder="Apellidos" name="apellidos"/></mat-form-field>
                    <mat-form-field class="c2"><input matInput type="text" placeholder="Direccion" name="direccion"/></mat-form-field>    
                </div>
            </div>
            

            <!-- Usando Flex Layout-->
            <div fxFlex="20%" fxLayout="column" fxLayoutAlign="space-around center" style="background-color:lightskyblue">
                <mat-form-field style="width:90%"><input matInput type="text" placeholder="Nombre" name="nombre"/></mat-form-field>
                <mat-form-field style="width:90%"><input matInput type="text" placeholder="Apellidos" name="apellidos"/></mat-form-field>
            </div>   
    </div>
</div>
</div>
