
   
<div  fxLayout="row" fxLayoutAlign="center">

<div fxFlex=66 fxFlexFill fxLayout="column" fxLayoutAlign="center">

<p fxFlex fxFlexAlign="center" class="titulo-ventana">Contacto</p>



<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header >
        <mat-panel-title>
        <h3>Datos personales</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="center">
        <mat-form-field><input matInput type="text" placeholder="Nombre" [(ngModel)]="contacto.nombre" name="nombre"/></mat-form-field>
        <mat-form-field><input matInput type="text" placeholder="Teléfono" [(ngModel)]="contacto.telefono" name="email"/></mat-form-field>    
        <mat-form-field><input matInput type="text" placeholder="Email" [(ngModel)]="contacto.email" name="telefono"/></mat-form-field>
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="contacto.tipo" name="tipo">
                <mat-option *ngFor="let tipo of getTipos();let i=index" [value]="i">
                {{tipo}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div fxFlex>
            <mat-checkbox [(ngModel)]="contacto.habitual" name="habitual">Habitual</mat-checkbox>
        </div>
    </div>
</mat-expansion-panel>


<mat-expansion-panel>
    <mat-expansion-panel-header >
        <mat-panel-title>
        <h3>Otros datos</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>
    
    <div fxLayout="column" fxLayoutAlign="center">

        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field><input matInput type="text" placeholder="Dirección" [(ngModel)]="contacto.direccion" name="direccion"/></mat-form-field>
        <mat-form-field><input matInput type="text" placeholder="Empresa" [(ngModel)]="contacto.empresa" name="empresa"/></mat-form-field>    
        <mat-form-field><input matInput type="text" placeholder="Cargo" [(ngModel)]="contacto.cargo" name="cargo"/></mat-form-field>
    </div>
</mat-expansion-panel>




<div  fxLayout="row" style="margin-top:50px;">
    <div fxFlex fxLayoutAlign="center">
        <button (click)="aceptar()" mat-flat-button color="primary">Aceptar</button>
    </div>
    <div fxFlex fxLayoutAlign="center">
        <button (click)="cancelar()" mat-flat-button color="primary">Cancelar</button>
    </div>
</div>

</div>
</div>


